[submodule "titan-sys/titan"]
	path = tirocks-sys/titan
	url = https://github.com/tikv/titan.git
[submodule "tirocks-sys/rocksdb"]
	path = tirocks-sys/rocksdb
	url = https://github.com/tikv/rocksdb.git
